/*mobile display single item per block*/
.gallery {
  display: grid;
}

.gallery p {
  text-align: center;
  padding: 1rem;
  font-size: 20px;
}

.gallery a {
  max-width: 100%;

  background-color: #ccc;
  border-radius: 1rem;
  border: 1px solid #aaa;
}

.gallery a {
  max-width: fit-content;
  text-decoration: none;
  margin:1rem;
  color: #451F55;
}

.gallery a:hover {
  background-color: gainsboro;
}

.gallery h3 {
  text-align: center;
  text-decoration: none;
  font-size: 25px;

}

.gallery img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.gallery a:hover{
  box-shadow: 10px 5px 5px;
}

/*3 items per row on desktop*/
@media screen and (width>50rem) {
  .gallery{
    grid-template-columns: repeat(3, 1fr);
    min-width: 100%;
    gap: 4rem;  
  }
}