/*hero for home page*/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*hero image using background image and a gradient*/
  background-image: linear-gradient(25deg, rgba(255,0,0,0),rgba(127, 17, 224,.5)),url(../images/pileDonut.png);

  height: 100vh;
 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}

header p {
  padding: 1rem;
}

/*styling for text boxes*/
section {
  margin: auto;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
  border-radius: 1rem;

  max-width: 40ch;
  background-color: aliceblue;
  color: black;
}



