/*reset*/
*
{
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
}

body {
  background-color: #724E91;
  line-height: 1.5;

  width: 100%;
  height: 100%;
}

/*universal button component styles*/
.button {
  text-decoration: none;

  background-color: #451F55;
  color: white;

  border-radius: 1rem;
  padding: 1rem;

  font-family: 'Staatliches', sans-serif;
}

/*three.js webgl canvas*/
.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    outline: none;
}
